.App {
  text-align: center;
}


.foody-park{
  font-family: 'Lobster Two', cursive;
  margin: 0;
  padding: 30px;
  color: rgb(20, 112, 20);
  letter-spacing: 10px;
  background: url("https://image.shutterstock.com/image-vector/horizontal-backdrop-border-consisted-fresh-260nw-1342150685.jpg");
 
  height: 150px;
  font-weight: bolder;
}

.home-recipe{
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-headings{
  font-family: 'Open Sans', sans-serif;
  color: linen;
  letter-spacing: 3px;
  padding: 5px;
}

.home-gif-flex-1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;

}

.home-gif-img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin: 60px;
  cursor: pointer;
  transition: all 0.8s;
}

.home-gif-img:hover{
  transform: scale(1.1);
  opacity: 0.5;
}

.logo{
  height: 390px;
  width: 1950px;
  object-fit: cover;
}

.notfound{
  height: 600px;
  width: 800px;
}

.line-home{
  width: 100%;
  border: 1px solid khaki;
}

.line-detl{
  width: 100%;
  border: 1px solid rgb(226, 172, 71);
}

.line-about{
  width: 100%;
  border: 1px solid lightgreen;
}

.rec-line{
  width: 100%;
  border: 1px solid lightskyblue;
}

.dessert-display-flex{
 display: flex;
 flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}

.dessert-flex{
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    height: min-content;
    width: 320px;
    margin: 30px;
  border: 2px solid rgba(128, 128, 128, 0.24);
}
.dessert-flex:hover{
 cursor: pointer;
}
.dessert-img{
  height: 400px;
  width: 320px;
  object-fit: cover;
  /* margin: 10px; */
}

.dessert-name{
  /* font-family: 'MonteCarlo', cursive; */
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
 letter-spacing: 6;
 color: mistyrose;
}
.moredetails-div{
  display: flex;
      flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 20px;
}
.img-video-div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.dessert-name-det{
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  color: rgb(245, 204, 164);
  letter-spacing: 3px;
  font-weight: 600;
}
.dessert-img-det{
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.dessert-img-det:hover{
  opacity: 0.8;
}
.det-div-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 830px;
  align-content: center;
}
.inte-div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: start;
}
.dessert-ingre-det{
 /* font-family: 'MonteCarlo', cursive; */
 font-family: 'Open Sans', sans-serif;
  color: rgb(245, 204, 164);
  letter-spacing: 3px;
}

.dessert-ingre-det-para{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  line-height: 2;
  color: rgb(218, 229, 233);
}

.dessert-make-det{
  font-family: 'Open Sans', sans-serif;
  color: rgb(245, 204, 164);
  letter-spacing: 3px;
}
.info-edit-icon{
  display: flex;
}

.button{
  margin: 50px;
}

.about-headings-1{
  font-family: 'Lobster Two', cursive;
  /* font-family: 'Open Sans', sans-serif; */
  color: orange;
  letter-spacing: 3px;
}
.about-headings{
  font-family: 'Open Sans', sans-serif;
  color: linen;
  letter-spacing: 3px;
}
.about-headings-name{
  font-family: 'Open Sans', sans-serif;
  color: rgb(241, 194, 106);
  letter-spacing: 3px;
}

.about-para{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  line-height: 2;
  color: linen;
}

.home-headings{
  font-family: 'Open Sans', sans-serif;
  color: linen;
  letter-spacing: 3px;
}

.pad-div-img{
  height: 430px;
  width: 430px;
  object-fit: cover;
  padding-left: 200px;
}

.add-recipe{
  display: flex;
      flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 250px;
    padding-left: 200px;
    padding-right: 200px;
    gap: 10px;
}



.footer{
  height: 300px;
  width: 100%;
  background-color: rgb(250, 238, 218);
  position: static;
  bottom: 0;
 
}

.footer-icon-link{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon-f{
  height: 60px;
  width: 60px;
  border-radius: 20rem;
  object-fit: cover;
  transition: all 0.2s;
}

.icon-f:hover{
  transform: scale(1.05);
}

.icon-insta{
  height: 85px;
  width: 85px;
  border-radius: 20rem;
  object-fit: cover;
  transition: all 0.2s;
}

.icon-insta:hover{
  transform: scale(1.05);
}

.icon-twitter{
  height: 60px;
  width: 57px;
  border-radius: 20rem;
  object-fit: cover;
  transition: all 0.2s;
}

.icon-twitter:hover{
  transform: scale(1.05);
}

.icon-linked{
  height: 60px;
  width: 57px;
  margin: 8px;
  border-radius: 20rem;
  object-fit: cover;
  transition: all 0.2s;
}

.icon-linked:hover{
  transform: scale(1.05);
}

.footer-words{
  padding: 10px;
  color: black;
}

.login-page{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: stretch;
  gap: 10px;
  
}
.login-head{
  font-family: -webkit-pictograph ;
  letter-spacing: 1px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 40px;
}
.please{
  font-family: -webkit-pictograph ;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 20px;
}
.icons{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.success{
  object-fit: cover;
  height: 250px;
  width: 250px;
 border-radius: 60%;
}
.failed{
  object-fit: cover;
  height: 200px;
  width: 200px;
 border-radius: 60%;
}

.signup-link{
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.signup-word{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 200;
  text-decoration: underline;
}
.login-page-background{
  background-image: linear-gradient(to right bottom, #080d42, #3e0a4e, #690050, #900048, #af0e39);
  min-height: 100vh;
 
}


@media(max-width: 1180px){
  .img-video-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
 
  .dessert-img-det{
    height: 430px;
    width: 430px;
    object-fit: cover;
  }

  .det-div-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 730px;
    align-content: center;
  }
  .moredetails-div{
    display: flex;
        flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      padding: 20px;
  }
  .pad-div-img{
    height: 430px;
    width: 430px;
    object-fit: cover;
    padding-left: 140px;
  }
}

@media(max-width: 500px){

  .home-gif-flex-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .home-gif-img{
    height: 290px;
    width: 290px;
    object-fit: cover;
    margin:5px;
    cursor: pointer;
    
  }

  .det-div-flex{
    display: contents;
  }

  .dessert-display-flex{
    display: flex;
    flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
    padding: 10px;
    margin: 0;
   }
   
  .dessert-flex{
    display: flex;
    flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      width: 260px;
  }
  .pad-div-img{
    height: 430px;
    width: 430px;
    object-fit: cover;
    padding-left: 10px;
  }
  .dessert-img{
    height: 320px;
    width: 260px;
    object-fit: cover;
    
  }
  .info-edit-icon {
    display: flex;
    gap: 180px;
}

  .dessert-img-det{
    height: 390px;
    width: 330px;
    object-fit: cover;
  }
  
.recipevideo{
  width: 330px;
}

.notfound{
  height: 200px;
  width: 300px;
}

.add-recipe{
  display: flex;
      flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 250px;
    padding-left: 30px;
    padding-right: 30px;
}

}